/* #chatrooms, #logged-in-as {
    visibility: hidden;
} */

.avatar-img {
    width: 130px;
    margin: 10px;
}

.selected-avatar {
    border: 5px solid red;
    box-sizing: border-box;
}
#avatar-choice-radio-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
}

#username-form {
    text-align: center;
    margin-top: 100px;
}

#username-input{
    margin-top: 30px;
}

.small-avatar-image {
    width: 50px;
}
.message-div {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
#current-chatroom-messages {
    max-height: 70vh;
    width: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}
#current-chatroom-users-list-wrapper {
    float: right;
    width: 20%
}
body {
    margin: 20px;
}
